/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap");

/* Font-face personalizada */
@font-face {
  font-family: "CalSans";
  src: url("../assets/fonts/CalSans-SemiBold.woff2") format("woff2");
}

/* Reset Base */

/* Variables CSS personalizadas */
:root {
  --color-1st: #181818;
  --color-2nd: #ffffff;
  --color-3rd: #41dbce;
  --color-3rd-hover: #34b9ae;
  --color-4th: #f58888;
  --color-4th-hover: #c26c6c;
  --color-shadow-1: #00000041;
  --color-shadow-2: #00000090;
  --color-5th: #ffd752;
  --color-6th: #4fc7ff;
  --color-7th: #111111;
  --border-color: #6e6e6e;
  --primary-font: "CalSans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-family: var(--primary-font);
  color: var(--color-1st);
  background-color: var(--color-2nd);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: var(--primary-font);
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  font-family: var(--secondary-font);
}

ul,
ol {
  list-style: none;
}

section {
  scroll-snap-align: start;
}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout__content {
  width: 94vw;
  height: inherit;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: none;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
